.results-title{
    background-color: #5a5a5a;
    color: white;
    padding: 24px 15px;
    text-align: center;
    margin-bottom: 24px;
}
.degree{
    /* background-image: url('src/images/animacion.jpg'); */
    background-color: #012269;
    background-position: center;
    background-size: cover;
    margin: 15px 0;
    height: 111px;
    color: white;
    text-align: center;
    font-size: 19px;
}
.degree .degree-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(1,34,105,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}
.degree .degree-text {
    padding: 15px 30px;
}